#!/bin/bash

# Defining the PBS parameters
#PBS -l select=$nodes:ncpus=$ncpus:mpiprocs=$mpiprocs:ompthreads=$ompthreads
#PBS -l walltime=$walltime
#PBS -A $projectid
#PBS -q $queue
#PBS -N $name
#PBS -o scheduler.$name.log
#PBS -e scheduler.$name.err

# Loading LAMMPS module
cd $PBS_O_WORKDIR

ml LAMMPS/20200109-intel-2017c

# Running the job
mpirun -np $ncpus lammps -in $input -log $output
